
<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon> 
      Offers 

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
     <ion-item>
       <ion-avatar slot="start">
         <img src="assets/icon/1.png" width="100%" height="130">
       </ion-avatar>
       <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star-half"></ion-icon>
         <ion-icon name="star-outline"></ion-icon>
       </ion-label>
     </ion-item>
   </ion-card>
   
   
   <ion-card>
     <ion-item>
       <ion-avatar slot="start">
         <img src="assets/icon/2.png">
       </ion-avatar>
       <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star-half"></ion-icon>
         <ion-icon name="star-outline"></ion-icon>
       </ion-label>
     </ion-item>
   </ion-card>
   
   
   <ion-card>
       <ion-item>
         <ion-avatar slot="start">
           <img src="assets/icon/3.png">
         </ion-avatar>
         <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star-half"></ion-icon>
           <ion-icon name="star-outline"></ion-icon>
         </ion-label>
       </ion-item>
     </ion-card> 
   
   
   
     <ion-card>
         <ion-item>
           <ion-avatar slot="start">
             <img src="assets/icon/4.png">
           </ion-avatar>
           <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star-half"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
           </ion-label>
         </ion-item>
       </ion-card>
       
       
       <ion-card>
         <ion-item>
           <ion-avatar slot="start">
             <img src="assets/icon/2.png">
           </ion-avatar>
           <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star-half"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
           </ion-label>
         </ion-item>
       </ion-card>
       
       
       <ion-card>
           <ion-item>
             <ion-avatar slot="start">
               <img src="assets/icon/3.png" >
             </ion-avatar>
             <ion-label>CINEMA150<br> 19 DEC 2018 - 19 MAR 2018 <br>
               <ion-icon name="star"></ion-icon>
               <ion-icon name="star"></ion-icon>
               <ion-icon name="star"></ion-icon>
               <ion-icon name="star-half"></ion-icon>
               <ion-icon name="star-outline"></ion-icon>
             </ion-label>
           </ion-item>
         </ion-card> 
      
   </ion-content>