<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person"></ion-icon>  Register User
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
<div class="container">
  <form>  
    <img class="center" src="assets/icon/bmg.png"/>
    <!-- <div class="form-group">
      <select>
        <option>Value 1</option>
        <option>Value 2</option>
      </select>
      <label for="select" class="control-label">Selectbox</label><i class="bar"></i>
    </div> -->
    
      <!-- <h3 style="border-bottom: 5px solid #f7f7f7;text-align:center">Register User</h3> -->

    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">User Name</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="email" required="required"/>
      <label for="input" class="control-label">Email</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Mobile</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="password" required="required"/>
      <label for="input" class="control-label">Password</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="password" required="required"/>
      <label for="input" class="control-label">Confirm Password</label><i class="bar"></i>
    </div>
    <!-- <div class="form-group">
      <textarea required="required"></textarea>
      <label for="textarea" class="control-label">Textarea</label><i class="bar"></i>
    </div> -->
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" checked="checked"/><i class="helper"></i>I'm the label from a checkbox
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
      </label>
    </div> -->
    <!-- <div class="form-radio">
      <div class="radio">
        <label>
          <input type="radio" name="radio" checked="checked"/><i class="helper"></i>I'm the label from a radio button
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio"/><i class="helper"></i>I'm the label from a radio button
        </label>
      </div>
    </div> -->
    <!-- <div class="checkbox" style="text-align:center;"> 
        <a href=""> Can't access your account? </a> 
    </div> -->
    <div class="checkbox"> 
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
        </label>
      </div>

      <div class="button-container">
          <button type="button" class="button"><span>Register</span></button>
        </div>

  <div class="checkbox" style="text-align:center;"> 
    <a href=""> Existing user sign in </a> 
</div>
<br><br>
  </form>
  
</div>
</ion-card>
</ion-content>