<ion-header>
  <ion-toolbar>
      
    <ion-title>
        <ion-icon name="arrow-back" (click)="goback()"></ion-icon>
      booking</ion-title>
  </ion-toolbar>
</ion-header>  
<ion-content
[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">  

<ion-grid  >
 <ion-row justify-content-center>
   <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
    <div text-center > 
        <h2><ion-input  [(ngModel)]="movie.name" ></ion-input> </h2>
     </div> 
     <div text-center > 
       <img  src="{{movie.image_url}}" style="height: 120px;width: 380px;"/>
     </div> 
     <div text-center>
            <ion-list>
                    
                  
                    <ion-item>
                      <ion-label>Theatre</ion-label>
                      <ion-select  placeholder="Theatre">
                        <ion-select-option  value="f">INOX</ion-select-option>
                        <ion-select-option value="m">CINEPLANET</ion-select-option>
                        <ion-select-option value="f">TIWOLI</ion-select-option>
                        <ion-select-option value="m">AMB</ion-select-option>
                      </ion-select>
                    </ion-item>
                  
                    <ion-item>
                      <ion-label>Screen</ion-label>
                      <ion-select   [(ngModel)]="movie.screen" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="Screen1">Screen 1</ion-select-option>
                        <ion-select-option value="Screen2">Screen 2</ion-select-option>
                        <ion-select-option value="Screen3">Screen 3</ion-select-option>
                        <ion-select-option value="Screen4">Screen 4</ion-select-option> 
                      </ion-select>
                    </ion-item>

                    <ion-item>
                            <ion-label>Tickets</ion-label>
                            <ion-select   [(ngModel)]="movie.tickets" okText="Okay" cancelText="Dismiss">
                              <ion-select-option value="1">1</ion-select-option>
                              <ion-select-option value="2">2</ion-select-option>
                              <ion-select-option value="3">3</ion-select-option>
                              <ion-select-option value="4">4</ion-select-option>
                              <ion-select-option value="5">5</ion-select-option>
                              <ion-select-option value="6">6</ion-select-option>
                              <ion-select-option value="7">7</ion-select-option>
                              <ion-select-option value="8">8</ion-select-option>
                            </ion-select>
                          </ion-item> 


                          <ion-item>
                                <ion-label>City</ion-label>
                                <ion-select  okText="Okay" cancelText="Dismiss">
                                  <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
                                  <ion-select-option value="Banglore">Banglore</ion-select-option>
                                  <ion-select-option value="Chennai">Chennai</ion-select-option>
                                  <ion-select-option value="Noida">Noida</ion-select-option>
                                  <ion-select-option value="Mumbai">Mumbai</ion-select-option> 
                                </ion-select>
                              </ion-item> 
                  </ion-list>


                  <ion-item>
                        <ion-label>Date</ion-label>
                        <ion-datetime  display-format="MMM DD, YYYY "></ion-datetime>
                      </ion-item>


                      <ion-item>
                            <ion-label>Time</ion-label>
                            <ion-datetime  display-format=" HH:mm"></ion-datetime>
                          </ion-item>
               
        <br>
           <ion-item>
             <ion-input type="text"  placeholder="300"></ion-input>
           </ion-item>
           <br>
           <ion-item>
             <ion-input type="password"  placeholder="130"></ion-input>
           </ion-item>
        
     </div> 
     <div padding>
       <ion-button color="light" size="large"  (click)="addBooking(movie,data.tickets)" expand="block"><span  style="color:#563ada;font-weight:bold;">Book Now</span></ion-button>
     </div>  
   </ion-col>
 </ion-row> 


</ion-grid>
</ion-content>

 
